@font-face {
            font-family: 'Fredoka';
            src: url('../Fredoka-VariableFont_wdth\,wght.ttf');
            overflow-x: hidden;
        }
.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}
.navbar .navbar-item .nav-link {
    color:#000
}

.main-header {
    background: url(media/nube-b.png);
    background-size: cover;
    min-height: 500px;
}
